@import "../../lib/main.css";
.custom-page {
  border-top: 0.05rem solid #89827D;
}
.custom-page p {
  line-height: 2rem;
  padding: .4rem 0;
  padding-left: .5rem;
}
.custom-page ul li {
  width: 15rem;
  margin: .6rem auto;
}
.custom-page ul li input {
  width: 14.5rem;
  height: 1.5rem;
  padding: .2rem;
  font-size: .7rem;
  border: .05rem solid #242322;
  line-height: 1.5rem;
}
.custom-page ul li span {
  width: 4.45rem;
  display: inline-block;
  height: 1.9rem;
  background-color: #B8B7B5;
  font-size: .7rem;
  vertical-align: middle;
  border: .05rem solid #242322;
  line-height: 1.9rem;
  text-align: center;
  margin-left: -0.05rem;
  float: right;
}
.page-info-text {
  background-color: rgba(137, 130, 125, 0.8);
}
.page-info-text .arrow-left {
  background-image: url("../../lib/img/arrow-w.png");
}
.page-info-text p {
  color: #fff;
}
