{template 'common/header'}
<div class="main">
	<div class="search">
	<form action="{php echo $this->createWebUrl('tousu', array('op' => 'display'))}" method="post">
		<table class="table table-bordered tb">
			<tbody>
				<tr>
					<th>搜素</th>
					<td>
						<input class="span3" name="key" type="text" value="{$_GPC['key']}" placeholder="模糊搜索电话号码或租房意向">
						<select name="province" id="province" class="span2">
						<option value="">--省份--</option>
						{loop $regions $it}
							<option value="{$it['region_id']}" <?=$_GPC['province'] == $it['region_id']?'selected':''?>>{$it['region_name']}</option>
						{/loop}
						</select>
						<select name="city" id="city" class="span2">
							<option value="">--市--</option>
							{if $_GPC['city']}
							<option value="{$_GPC['city']}" selected><?=$this->getRegion($_GPC['city'])?></option>
							{/if}
						</select>
						<select name="area" id="area" class="span2">
							<option value="">--区--</option>
							{if $_GPC['area']}
							<option value="{$_GPC['area']}" selected><?=$this->getRegion($_GPC['area'])?></option>
							{/if}
						</select>
						<select name="status" class="span2">
							<option value="">--状态--</option>
								<option value="-1" <?=$_GPC['status'] == -1?'selected':''?>>未处理</option>
								<option value="1" <?=$_GPC['status'] == 1?'selected':''?>>已处理</option>
						</select>
					</td>
				</tr>
				<tr>
				 <tr class="search-submit">
					<td colspan="2"><button class="btn pull-right span2"><i class="icon-search icon-large"></i> 搜索</button></td>
				 </tr>
			</tbody>
		</table>
	</form>
	</div>
	<div style="padding:15px;">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:10%;">商家名称</th>
					<th style="width:5%;">评价</th>
					<th style="width:30%;">投诉建议</th>
					<th style="width:15%;">地区</th>
					<th style="width:10%;">投诉者电话</th>
					<th style="width:15%;">时间</th>
					<th style="text-align:right; width:15%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['name']}</td>
					<td>{$item['pj']}</td>
					<td>{$item['msg']}</td>
					<td><?=$this->getRegion($item['province'])?> <?=$this->getRegion($item['city'])?> <?=$this->getRegion($item['area'])?></td>
					<td>{$item['phone']}</td>
					<td><?=date('Y-m-d H:i',$item['intime'])?></td>
					<td style="text-align:right;">
					{if $item['status'] == 1}
					<a href="{php echo $this->createWebUrl('tousu', array('id' => $item['id'], 'op' => 'status', 'status' => -1))}">已处理</a>
					{else}
					<a href="{php echo $this->createWebUrl('tousu', array('id' => $item['id'], 'op' => 'status', 'status' => 1))}">未处理</a>
					{/if}
					
						<a href="{php echo $this->createWebUrl('tousu', array('id' => $item['id'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;">删除</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>

<script>
$('#province').change(function (){
	$('#city').html('<option value="">--市--</option>');
	$('#area').html('<option value="">--区--</option>');
	$('#branch_id').html('');
	var id = $(this).val();
	if(id)
	{
		$.ajax({
			type: "post", 
			url : "{php echo $this->createWebUrl('getAllRegions')}",
			dataType:'html',
			data: {id:id,names:'市'},
			cache:false,
			success: function(res){
				$('#city').html(res);
			}
		});
	}
});
$('#city').change(function (){
	$('#area').html('<option value="">--区--</option>');
	$('#branch_id').html('');
	var id = $(this).val();
	if(id)
	{
		$.ajax({
			type: "post", 
			url : "{php echo $this->createWebUrl('getAllRegions')}",
			dataType:'html',
			data: {id:id,names:'区'},
			cache:false,
			success: function(res){
				$('#area').html(res);
			}
		});
	}
});
</script>
{template 'common/footer'}
