<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telphone=no" />
    <title>家政联盟</title>
    <link rel="stylesheet" type="text/css" href="./source/modules/lib/main.css?"> 
    <link rel="stylesheet" type="text/css" href="./source/modules/jiazheng/asset/css/styles.css">   
    <script src="./source/modules/jiazheng/asset/js/jquery-1.9.0.min.js"></script>
    <script src="./source/modules/jiazheng/asset/js/base.js?_=v1.1"></script>
	<link rel="stylesheet" href="./source/modules/lib/window/js/jDialog/jDialog.css" type="text/css">
	<script type="text/javascript" src="./source/modules/lib/window/js/jquery.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.drag.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.mask.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.dialog.js"></script>
</head>
<body class="index_fixed_2">
    <div class="top-title purple-bg-title">
        <a href="javascript:history.go(-1);" class="arrow-left" style="background-image:url(/source/modules/lib/img/arrow-w.png)">&lt;</a>
        <p>帮我找家政</p>
    </div>
	<form name="form1" method="POST" action="{php echo $this->createMobileUrl('savefind', array('op' => 'submit'))}">
		<input type="hidden" name="data[province]"  value="{$province_id}"/>
		<input type="hidden" name="data[city]"  value="{$city_id}"/>
		<input type="hidden" name="data[area]"  value="{$area_id}"/>
		<input type="hidden" name="data[fwxm]" id="fwxm" value="长期钟点工"/>
		<input type="hidden" name="token" value="<?=mt_rand(111111, 999999)?>" />
    <ul class="send-list">
        <li class="noBorder">
            <label>请选择服务项目</label><br />
            <a href="#">住家保姆</a>
            <a href="#" class="on">长期钟点工</a>
            <a href="#">月嫂</a>
            <a href="#">看护老人</a>
            <a href="#">临时钟点工</a>
            <a href="#">育儿嫂</a>
        </li>
    </ul>
	<ul class="send-list" style="border-top: 0.05rem solid #89827d;">
	<li class="noBorder"><label>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
		<input type="text" style="width:3rem;" class="two"  name="data[age_min]"/>&nbsp;-
		<input type="text" class="two" name="data[age_max]" style="width:3rem;"/>&nbsp;岁
	</li>
	<li class="noBorder">
		<label>待&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;遇</label>
		<input type="text" style="width:3rem;" class="two" value="" name="data[yqxz_min]" placeholder="元"/>&nbsp;-
		<input type="text" class="two"value="" name="data[yqxz_max]" style="width:3rem;" placeholder="元"/>月(小时)
	</li>
	
	<li class="noBorder libs"><label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
		<a href="#" class="on">男</a>
		<a href="#">女</a>
		<input type="hidden"  name="data[sex]" id="sex" value="男"/>
	</li>
	<script>
	$('.libs a').click(function (){
		var cla = $(this).attr('class');
		if(cla != 'on')
		{
			$('.libs a').removeClass('on');
			$(this).addClass('on');
			var sex = $(".libs .on").html();
			$('#sex').val(sex);
		}
		
	});
	</script>
	</ul>
		<style>
			textarea{
				width: 14.5rem;
				height:5rem;
				padding: .2rem;
				font-size: .7rem;
				border: .05rem solid #242322;
			}
		</style>
    <div class="custom-page">
		<p>其他需求</p>
		<ul>
			<li><textarea placeholder="填写您的详细要求，以便我们更好的为您匹配。"></textarea></li>
		</ul>
        <p>您要服务的地址</p>
        <ul>
            <li>
                <input type="text" name="a1" id="a1" placeholder="请输入所在小区、街道或大厦名称" />
            </li>
            <li>
                <input type="text" name="a2" id="a2" placeholder="请输入详细楼栋门牌号" />
            </li>
        </ul>
		{if !empty($member['mobile'])}
			<input type="hidden" name="data[phone]" value="{$member['mobile']}"/>
			<script>
			function sb()
			{
				var a1=$('#a1').val();
				var a2=$('#a2').val();
				if(a1 == '' || a2 == '')
				{
					var dialog = jDialog.dialog({
						title : '错误提醒！',
						content : '居住小区请填写清楚！'
					});
				}
				else
				{
					document.form1.submit();
				}
			}
			</script>
		{else}
			<p>您的联系电话</p>
			<ul>
				<li><input type="text" name="data[phone]" placeholder="请输入您的手机号码" class="number"/></li>
				<li><input type="text" style="width:10rem;" placeholder="请输入验证" id="yan"/><span class="vcode yz">获取验证码</span></li>
			</ul>
			<script>
			$('.yz').click(function (){
				 var phone=$('.number').val();
				 var reg=/^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/ig;
				 if(!reg.test(phone))
				 {
					var dialog = jDialog.dialog({
						title : '错误提醒！',
						content : '电话格式不正确！'
					});
				 }
				 else
				 {
					  $('.yz').html('正在发送...');
					  var data={phone:phone};
					  $.ajax({
						data:data,
						type: 'POST',
						url: "{php echo $this->createMobileUrl('yzm')}",
						dataType:'json',
						success: function(json){
						 if(json.ret != 1)
						 {
							$('.yz').html('暂时关闭');
							$('.yz').removeClass('yz');
							var dialog = jDialog.dialog({
								title : '错误提醒！',
								content : json.msg
							});
						 }
						 else
						 {
							$('.yz').html('已发送,再发');
							$.cookie('yzm',json.code);
							$.cookie('mtel',phone);
						 }
						}
					 });	
				 }
			 });
			$('#yan').blur(function (){
				if(this.value == $.cookie('yzm')){
					$(this).css('color','green');
				}
				else if(this.value!=''){
					$(this).val('错误');
					$(this).css('color','red');
				}
			});
			function sb()
			{
				var a1=$('#a1').val();
				var a2=$('#a2').val();
				var number=$('.number').val();//手机号码
				var yan=$('#yan').val();//验证码
				var reg=/^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/ig;
				if(a1 == '' || a2 == '')
				{
					var dialog = jDialog.dialog({
								title : '错误提醒！',
								content : '居住小区请填写清楚！'
							});
				}
				else if(!reg.test(number))
				{
					var dialog = jDialog.dialog({
								title : '错误提醒！',
								content : '手机号格式不正确！'
							});
				}
				else if(number!=$.cookie('mtel'))
				{
					var dialog = jDialog.dialog({
								title : '错误提醒！',
								content : '此手机号需要从新验证！'
							});
				}
				else if(yan=='' || yan!=$.cookie('yzm'))
				{
					var dialog = jDialog.dialog({
								title : '错误提醒！',
								content : '请填写正确的验证码！'
							});
				}
				else
				{
					document.form1.submit();
				}
			}
			</script>
			<script src="./source/modules/ershou/asset/js/cookie.js"></script>
		{/if}
    </div>
	</form>
    <a href="javascript:sb();" class="yellow-btn">立即预约</a>
</body>
</html>
<script>
$('.noBorder a').click(function (){
	$('.noBorder a').removeClass('on');
	$(this).addClass('on');
	$('#fwxm').val($(this).html());
});

</script>