{template 'common/header'}
<ul class="nav nav-tabs">
<li><a style="color:red;font-size: 16px;">基本配置频道</a></li>
	<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('login', array('op' => 'post'))}">添加ip</a></li>
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('login', array('op' => 'display'))}">管理ip</a></li>
</ul>
{if $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$item['id']}" />
		<h4>基本信息</h4>
		<table class="tb">
			<tr>
				<th><label for="">名称</label></th>
				<td>
					<input type="text" name="data[name]" class="span6" value="{$item['name']}" />
				</td>
			</tr>
			<tr>
				<th><label for="">ip</label></th>
				<td>
					<input type="text" name="data[ip]" class="span6" value="{$item['ip']}" />&nbsp;可到www.ip138.com上查看ip
				</td>
			</tr>
		<tr>
			<th></th>
			<td>
				<input name="submit" type="submit" value="提交" class="btn btn-primary span3">
				<input type="hidden" name="token" value="{$_W['token']}" />
			</td>
		</tr>
		</table>
	</form>
</div>
{elseif $operation == 'display'}
<div class="main">
	<div class="search">
	<form action="{php echo $this->createWebUrl('login', array('op' => 'display'))}" method="post">
		<table class="table table-bordered tb">
			<tbody>
				<tr>
					<th>关键字</th>
					<td>
						<input class="span5" name="key" type="text" value="{$_GPC['key']}" placeholder="模糊搜素下面所有列">
					</td>
				</tr>
				<tr>
				 <tr class="search-submit">
					<td colspan="2"><button class="btn pull-right span2"><i class="icon-search icon-large"></i> 搜索</button></td>
				 </tr>
			</tbody>
		</table>
	</form>
	</div>
	<div style="padding:15px;">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:10%;">ID</th>
					<th style="width:20%;">名称</th>
					<th style="width:30%;">允许登录IP</th>
					<th style="text-align:right; width:40%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['id']}</td>
					<td>{$item['name']}</td>
					<td>{$item['ip']}</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('login', array('id' => $item['id'], 'op' => 'post'))}">编辑</a>&nbsp;&nbsp;
						<a href="{php echo $this->createWebUrl('login', array('id' => $item['id'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;">删除</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
{/if}
{template 'common/footer'}
