<link type="text/css" rel="stylesheet" href="./source/modules/integal/style/css/page.css" />
<div id="menu" style="z-index:10000;">
	<ul class="clearfix">
		<li><a href="{php echo $this->createMobileUrl('home')}" class="me1">商城首页</a></li>
		<li><a href="{php echo $this->createMobileUrl('product_type_zis')}" class="me2">所有分类</a></li>
		<li><a href="{php echo $this->createMobileUrl('search')}" class="me3">商品查找</a></li>
		<li><a href="{php echo $this->createMobileUrl('my')}" class="me5">我的订单</a></li>
	</ul>
</div>