<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telphone=no" />
    <title>我的发布</title>
    <link rel="stylesheet" type="text/css" href="./source/modules/lib/main.css"> 
    <link rel="stylesheet" type="text/css" href="./source/modules/usersvip/style/index/css/styles.css">   
    <script src="./source/modules/usersvip/style/js/jquery-1.9.0.min.js"></script>
    <script src="./source/modules/usersvip/style/js/base.js?_=v1.1"></script>
	
	<link rel="stylesheet" href="./source/modules/lib/window/js/jDialog/jDialog.css" type="text/css">
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.drag.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.mask.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.dialog.js"></script>
    <style type="text/css">
        .menu-link li.down-right {
            background-image: url("./source/modules/usersvip/style/img/donw-arrow.jpg");
            background-repeat: no-repeat;
            background-position: 95% center;
            background-size: 1rem auto;
        }
    </style>
</head>
<body class="gray-bg index_fixed_2" id="myfabu">
    <div class="home-page">
        <div class="top-title">
            <a href="javascript:history.go(-1);" class="arrow-left">&lt;</a>
            <p>我的发布</p>
        </div>
        <div class="block">
            <ul class="menu-link">
                <li class="arrow-right"><a href="">二手房（<?=$total1?>）</a></li>
            </ul>
            <div class="item-list">
			{loop $list1s $item}
                <dl>
				<a href="mobile.php?act=module&name=ershou&do=info&id={$item['id']}&weid={$_W['weid']}">
                    <dt><img src="{$item['pic']}" /></dt>
                    <dd class="title">{$item['name']} (<?=substr($item['number'], -8)?>)</dd>
                    <dd class="info"><?=$this->getRegion($item['area'])?> {$item['dizhi']}</dd>
                    {if $item['type'] == 1}
					<dd class="info">{$item['shi']}室{$item['ting']}厅{$item['wei']}卫 {$item['pingfang']}㎡<span class="right"><?=$item['louceng']?>/<?=$item['zongceng']?>F</span></dd>
					{/if}
					{if $item['type'] == 2}
					<dd class="info">{$item['xingshi']} {$item['woshi']}个卧室<span class="right">{$item['pingfang']}㎡</span></dd>
					{/if}
					{if $item['type'] == 4 ||  $item['type'] == 3 ||  $item['type'] == 5}
					<dd class="info">{$item['zhuangxiu']} {$item['pingfang']}㎡<span class="right"><?=$item['louceng']?>/<?=$item['zongceng']?>F</span></dd>
					{/if}
                    <dd class="price">售价<em>{$item['jiage']}</em>万</dd>
					</a>
					{if $item['status'] == '-1'}
					<dd><a class="edit-btn">已下架</a></dd>
					{else}
					<dd><a class="edit-btn 1c{$item['id']}" onclick="ck({$item['id']}, 1)">下架</a></dd>
					{/if}
					
                    <!--<dd><a href="#" class="edit-btn">修改</a></dd>-->
                </dl>
			
			{/loop}
            </div>
        </div>
        <div class="block">
            <ul class="menu-link">
                <li class="arrow-right"><a href="">出租房（<?=$total2?>）</a></li>
            </ul>
            <div class="item-list">
			{loop $list2s $item}
                <dl>
				<a href="mobile.php?act=module&name=chuzu&do=info&id={$item['id']}&weid={$_W['weid']}">
                    <dt><img src="{$item['pic']}" /></dt>
                    <dd class="title">{$item['name']} (<?=substr($item['number'], -8)?>)</dd>
                    <dd class="info"><?=$this->getRegion($item['area'])?> {$item['dizhi']}</dd>
                    {if $item['type'] == 1}
					<dd class="info">{$item['shi']}室{$item['ting']}厅{$item['wei']}卫 {$item['pingfang']}㎡<span class="right"><?=$item['louceng']?>/<?=$item['zongceng']?>F</span></dd>
					{/if}
					{if $item['type'] == 2}
					<dd class="info">{$item['xingshi']} {$item['woshi']}个卧室<span class="right">{$item['pingfang']}㎡</span></dd>
					{/if}
					{if $item['type'] == 4 ||  $item['type'] == 3 ||  $item['type'] == 5}
					<dd class="info">{$item['zhuangxiu']} {$item['pingfang']}㎡<span class="right"><?=$item['louceng']?>/<?=$item['zongceng']?>F</span></dd>
					{/if}
					<dd class="price">租金<em>{$item['zujin']}</em>万</dd>
					{if $item['status'] == '-1'}
					<dd><a class="edit-btn">已下架</a></dd>
					{else}
					<dd><a class="edit-btn 2c{$item['id']}" onclick="ck({$item['id']}, 2)">下架</a></dd>
					{/if}
                    <!--<dd><a href="#" class="edit-btn">修改</a></dd>-->
				</a>
                </dl>
				{/loop}
            </div>
        </div>
        <!--<div class="block">
            <ul class="menu-link">
                <li class="arrow-right"><a href="">新房（<?=$total3?>）</a></li>
            </ul>
            <div class="new-item-list">
                <dl>
                    <dt><img src="img/temp.png" /></dt>
                    <dd class="title">齐门人家<span>精装</span></dd>
                    <dd class="info">1-3室&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;70-150㎡</dd>
                    <dd class="info">姑苏区 苏站路418号</dd>
                    <dd class="price"><em>23000</em>元/㎡</dd>
                    <dd><a href="#" class="edit-btn">修改</a></dd>
                </dl>
            </div>
        </div>-->
        <div class="block">
            <ul class="menu-link">
                <li class="arrow-right"><a href="">家政求职（<?=$total4?>）</a></li>
            </ul>
            <div class="item-list">
			{loop $list4s $item}
                <dl>
                    <dt><img src="{$item['pic']}" /></dt>
                    <dd class="title">{$item['name']}（{$item['y_m']}）</dd>
                    <dd class="info">{$item['y_m']} {$item['gzjy']}</dd>
                    <dd class="info">求职岗位：{$item['gangwei']}</dd>
                    <dd class="info">求职地区：<?=$this->getRegion($item['city'])?><?=$this->getRegion($item['area'])?></dd>
					
                    <!--<dd><a class="edit-btn 3c{$item['id']}" onclick="ck({$item['id']}, 3)">下架</a></dd><dd><a href="#" class="edit-btn">修改</a></dd>-->
                </dl>
			{/loop}
            </div>
        </div>
        <div class="block">
            <ul class="menu-link">
                <li class="arrow-right"><a href="">上门维修（<?=$total5?>）</a></li>
            </ul>
            <div class="item-list new-list">
			{loop $list5s $item}
                <dl>
                    <dd class="title">{$item['name']}
					{if $item['is_c']}
					<span class="c-icon"></span>
					{/if}
					{if $item['is_v']}
					<span class="v-icon"></span>
					{/if}
					</dd>
                    <dd class="info">地址：<?=$this->getRegion($item['area'])?>{$item['address']}</dd>
                    <dd class="info">电话： {$item['tel']}</dd>
					{if $item['status'] == '2'}
					<dd><a class="edit-btn">已下架</a></dd>
					{else}
					<dd><a class="edit-btn 4c{$item['id']}" onclick="ck({$item['id']}, 4)">下架</a></dd>
					{/if}
                </dl>
			{/loop}
            </div>
        </div>
        <div class="block">
            <ul class="menu-link">
                <li class="arrow-right"><a href="">包厢预订（<?=$total6?>）</a></li>
            </ul>
            <div class="item-list">
			{loop $list6s $item}
                <dl>
				<a href="mobile.php?act=module&name=baoxiang&do=info&id={$item['id']}&weid={$_W['weid']}">
                    <dt><img src="{$item['pic']}" /></dt>
                    <dd class="title">{$item['name']}<span class="start {$xing[$item['xing']]}"></span></dd>
                    <dd class="info"><?=$this->getRegion($item['area'])?> {$item['dizhi']}</dd>
                    <dd class="info">电话： {$item['tel']}</dd>
					{if $item['status'] == '2'}
					<dd><a class="edit-btn">已下架</a></dd>
					{else}
					<dd><a class="edit-btn 5c{$item['id']}" onclick="ck({$item['id']}, 5)">下架</a></dd>
					{/if}
				</a>
                </dl>
			{/loop}
            </div>
        </div>
        <div class="menu-list">
            <ul>
                <li><a href="mobile.php?act=module&name=usersvip&do=index&weid={$_W['weid']}">首页</a></li>
				<li><a href="mobile.php?act=module&name=usersvip&do=xuzhi&weid={$_W['weid']}">使用须知</a></li>
				<li><a href="mobile.php?act=module&name=usersvip&do=tousu&weid={$_W['weid']}">投诉评价</a></li>
				<li class="on"><a href="mobile.php?act=module&name=usersvip&do=my&weid={$_W['weid']}">我的</a></li>
            </ul>
        </div>
    </div>
    <!--<div class="pop">
        <div class="pop-box">
            <h4>是否对此条发布信息进行修改</h4>
            <p class="btn-list">
                <a href="#" class="ok-submit red-text">否</a>
                <a href="#">是</a>
            </p>
        </div>
    </div>-->
</body>
</html>
<script>
function ck(id, type)
{
	var data={op:'xiajia',id:id,type:type};
	$.ajax({
		data:data,
		type: "post",
		url: "mobile.php?act=module&name=usersvip&do=myfabu&weid={$_W['weid']}",
		dataType: "html",
		success: function(res){
			if(res == 1){
				$('.'+type+'c'+id).removeAttr('onclick');
				$('.'+type+'c'+id).html('已下架');
				var dialog = jDialog.dialog({
					title : '操作成功',
					content : '下架成功！',
					buttons : [
						{
							type : 'highlight',
							text : '知道了',
							handler:function(button,dialog)
							{
								dialog.close();
							}
						}
					]
				});
			}
			else{
				jDialog.message('下架失败',{
					autoClose : 3000,    // 3s后自动关闭
					padding : '30px',    // 设置内部padding
					modal: true         // 非模态，即不显示遮罩层
				});
			}
		}
	});
}
</script>