<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telphone=no" />
    <title>房源发布</title>
	<link rel="stylesheet" type="text/css" href="./source/modules/lib/main.css"> 
    <link rel="stylesheet" type="text/css" href="./source/modules/usersvip/style/css/styles.css">   
    <script src="./source/modules/usersvip/style/js/jquery-1.9.0.min.js"></script>
    <script src="./source/modules/usersvip/style/js/base.js?_=v1.1"></script>
	<script src="./source/modules/ershou/asset/js/cookie.js"></script>
	<link rel="stylesheet" href="./source/modules/lib/window/js/jDialog/jDialog.css" type="text/css">
	<script type="text/javascript" src="./source/modules/lib/window/js/jquery.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.drag.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.mask.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.dialog.js"></script>
</head>
<body class="index_fixed_2">
    <div class="top-title">
        <a href="javascript:history.go(-1);" class="arrow-left">&lt;</a>
        <p>房源发布</p>
    </div>
    <div class="custom-page">
        <img src="./source/modules/usersvip/style/img/custom-img.jpg" class="width100" />
		<form name="form1" method="POST" action="{php echo $this->createMobileUrl('savepublish', array('op' => 'submit'))}">
		<input type="hidden" name="type" id="type" value="e|1"/>
		<input type="hidden" name="token" value="<?=mt_rand(111111, 999999)?>" />
        <div class="custom-info lis">
            <dl>
                <dt>二手房</dt>
                <dd data-type="e|1" class="on">住宅</dd>
                <dd data-type="e|2">别墅</dd>
                <dd data-type="e|3">写字楼</dd>
                <dd data-type="e|4">商铺</dd>
                <dd data-type="e|5">商住两用</dd>
            </dl>
            <dl>
                <dt>出租房</dt>
                <dd data-type="c|1">住宅</dd>
                <dd data-type="c|2">别墅</dd>
                <dd data-type="c|3">写字楼</dd>
                <dd data-type="c|4">商铺</dd>
                <dd data-type="c|5">商住两用</dd>
            </dl>
			{if empty($member['mobile'])}
				<h3 class="title">联系电话</h3>
				<ul>
					<li><input type="text" placeholder="请输入您的手机号码" name="number" class="number"/></li>
					<li><input type="text" style="width:10rem;" id="yan"/><span class="vcode yz">获取验证码</span></li>
				</ul>
				<script>
			$('.yz').click(function (){
				 var phone=$('.number').val();
				 var reg=/^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/ig;
				 if(!reg.test(phone))
				 {
					var dialog = jDialog.dialog({
						title : '错误提醒！',
						content : '电话格式不正确！'
					});
				 }
				 else
				 {
					  $('.yz').html('正在发送...');
					  var data={phone:phone};
					  $.ajax({
						data:data,
						type: 'POST',
						url: "{php echo $this->createMobileUrl('yzm')}",
						dataType:'html',
						success: function(html){
						 if(html=='0')
						 {
							$('.yz').html('暂时关闭');
							$('.yz').removeClass('yz');
							var dialog = jDialog.dialog({
								title : '错误提醒！',
								content : '对不起短信通道暂时关闭，稍等后再试！'
							});
						 }
						 else
						 {
							$('.yz').html('已发送,再发');
							$.cookie('yzm',html);
							$.cookie('mtel',phone);
							alert($.cookie('yzm'));
						 }
						}
					 });	
				 }
			 });
			$('#yan').blur(function (){
				if(this.value == $.cookie('yzm')){
					$(this).css('color','green');
				}
				else if(this.value!=''){
					$(this).val('错误');
					$(this).css('color','red');
				}
			});
			function sb()
			{
				var number=$('.number').val();//手机号码
				var yan=$('#yan').val();//验证码
				var reg=/^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/ig;
				if(!reg.test(number))
				{
					var dialog = jDialog.dialog({
						title : '错误提醒！',
						content : '手机号格式不正确！'
					});
				}
				else if(number!=$.cookie('mtel'))
				{
					var dialog = jDialog.dialog({
						title : '错误提醒！',
						content : '此手机号需要从新验证！'
					});
				}
				else if(yan=='' || yan!=$.cookie('yzm'))
				{
					var dialog = jDialog.dialog({
						title : '错误提醒！',
						content : '请填写正确的验证码！'
					});
				}
				else
				{
					document.form1.submit();
				}
			}
			</script>
			{else}
			<script>
			function sb()
			{
				document.form1.submit();
			}
			</script>
			{/if}
            <a href="javascript:sb();" class="yellow-btn">下一步</a>
        </div>
		</form>
    </div>
</body>
</html>
<script>
$('.lis dd').click(function (){
	$('.lis dd').removeClass('on');
	$(this).addClass('on');
	$('#type').val($(this).data('type'));
});
$('#type').val('e|1');
</script>