<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telphone=no" />
    <title>企业策划</title>
    <link rel="stylesheet" type="text/css" href="./source/modules/lib/main.css"> 
    <link rel="stylesheet" type="text/css" href="./source/modules/usersvip/style/qiye/css/styles.css">   
    <script src="./source/modules/usersvip/style/js/jquery-1.9.0.min.js"></script>
    <script src="./source/modules/usersvip/style/js/base.js?_=v1.1"></script>
</head>
<body class="index_fixed_2">
    <div class="top-title page-info-text">
        <a href="javascript:history.go(-1);" class="arrow-left">&lt;</a>
    </div>
    <div class="ad-list">
        <img src="./source/modules/usersvip/style/qiye/img/ad01.jpg" class="width100" />
        <img src="./source/modules/usersvip/style/qiye/img/ad02.jpg" class="width100" />
        <img src="./source/modules/usersvip/style/qiye/img/ad03.jpg" class="width100" />
        <img src="./source/modules/usersvip/style/qiye/img/ad04.jpg" class="width100" />
        <img src="./source/modules/usersvip/style/qiye/img/ad05.jpg" class="width100" />
        <img src="./source/modules/usersvip/style/qiye/img/ad06.jpg" class="width100" />
    </div>
</body>
</html>