<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telphone=no" />
    <title>使用须知</title>
    <link rel="stylesheet" type="text/css" href="./source/modules/lib/main.css"> 
    <link rel="stylesheet" type="text/css" href="./source/modules/usersvip/style/index/css/styles.css">   
    <script src="./source/modules/usersvip/style/js/jquery-1.9.0.min.js"></script>
    <script src="./source/modules/usersvip/style/js/base.js?_=v1.1"></script>
</head>
<body class="gray-bg index_fixed_2">
    <div class="top-title">
        <a href="javascript:history.go(-1);" class="arrow-left">&lt;</a>
        <p>使用须知</p>
    </div>
    <ul class="menu-link">
        <li class="arrow-right"><a href="">平台公告</a></li>
        <li class="arrow-right"><a href="">人才加盟</a></li>
        <li class="arrow-right"><a href="">企业加盟</a></li>
        <li class="arrow-right"><a href="">关于我们</a></li>
        <li class="arrow-right"><a href="">用户协议</a></li>
    </ul>
    <div class="menu-list">
        <ul>
            <li onclick="javascript:window.location.href='mobile.php?act=module&name=usersvip&do=index&weid={$_W['weid']}'" ><a>首页</a></li>
            <li onclick="javascript:window.location.href='mobile.php?act=module&name=usersvip&do=xuzhi&weid={$_W['weid']}'" class="on"><a>使用须知</a></li>
            <li onclick="javascript:window.location.href='mobile.php?act=module&name=usersvip&do=tousu&weid={$_W['weid']}'"><a>投诉评价</a></li>
            <li onclick="javascript:window.location.href='mobile.php?act=module&name=usersvip&do=my&weid={$_W['weid']}'"><a>我的</a></li>
        </ul>
    </div>
</body>
</html>










