<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telphone=no" />
    <title>定制出租房</title>
    <link rel="stylesheet" type="text/css" href="./source/modules/lib/main.css"> 
    <link rel="stylesheet" type="text/css" href="./source/modules/ershou/asset/css/styles.css">   
    <script src="./source/modules/ershou/asset/js/jquery-1.9.0.min.js"></script>
    <script src="./source/modules/ershou/asset/js/base.js?_=v1.1"></script>
</head>
<body class="index_fixed_2">
    <div class="top-title">
        <a href="javascript:history.go(-1);" class="arrow-left">&lt;</a>
        <p>定制出租房</p>
    </div>
    <div class="custom-page">
        <img src="./source/modules/ershou/asset/img/custom-img.png" class="width100" />
		<form name="form1" method="POST" action="{php echo $this->createMobileUrl('saveDingzhi', array('op' => 'submit'))}">
			<input type="hidden" value="{$province_id}" name="data[province]">
			<input type="hidden" value="{$city_id}" name="data[city]">
			<input type="hidden" value="{$area_id}" name="data[area]">
			<input type="hidden" value="住宅" name="data[zfyx]" id="zfyx">
			<input type="hidden" name="token" value="<?=mt_rand(111111, 999999)?>" />
			<input type="hidden" name="data[area_name]" id="area_name" value="{$item['area_name']}"/>
			<div class="custom-info">
				<dl class="yixiang_lis">
					<dt>租房意向</dt>
					<dd class="on">住宅</dd>
					<dd>别墅</dd>
					<dd>写字楼</dd>
					<dd>商铺</dd>
					<dd>商住两用</dd>
				</dl>
				<dl class="area_lis">
					<dt>意向低区（最多选3项）</dt>
					{loop $areas $area}
					<dd>{$area['region_name']}</dd>
					{/loop}
				</dl>
				<dl>
					<dt>请填写购房需求信息</dt>
					<textarea placeholder="请详细填写购房需求（如：面积、户型、装修、价位、楼层等）" name="data[xuqiu]"></textarea>
				</dl>
				<a href="javascript:document.form1.submit();" class="yellow-btn">立即定制</a>
			</div>
		</form>
    </div>
</body>
</html>

<script>
$('.area_lis dd').click(function (){
	var cla = $(this).attr('class');
	if(cla == 'on')
	{
		$(this).removeClass('on');
	}
	else
	{
		var len = $('.area_lis .on').size();
		if(len < 3)
		{
			$(this).addClass('on');
		}
	}
	var area_name = '';
	$(".area_lis .on").each(function(i){
	   area_name += ' '+$(this).html();
	 });
	 $('#area_name').val(area_name);
});

$('.yixiang_lis dd').click(function(){
	$(this).siblings().attr('class', '');
	$(this).attr('class', 'on');
	$('#zfyx').val($(this).html());
});
</script>