<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telphone=no" />
    <title>出租房</title>
	<link rel="stylesheet" type="text/css" href="./source/modules/lib/main.css"> 
    <link rel="stylesheet" type="text/css" href="./source/modules/ershou/asset/css/styles.css">   
    <script src="./source/modules/ershou/asset/js/jquery-1.9.0.min.js"></script>
    <script src="./source/modules/ershou/asset/js/base.js?_=v1.1"></script>
	
	<link rel="stylesheet" href="./source/modules/lib/window/js/jDialog/jDialog.css" type="text/css">
	<script type="text/javascript" src="./source/modules/lib/window/js/jquery.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.drag.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.mask.js"></script>
	<script type="text/javascript" src="./source/modules/lib/window/js/jDialog/jquery.dialog.js"></script>
</head>
<body class="index_fixed_2">
    <div class="top-title page-info-text">
        <a href="javascript:history.go(-1);" class="arrow-left">&lt;</a>
        <p>{$item['name']}</p>
    </div>
    <div class="custom-page-info">
        <div class="custom-page-ppt">
            <div class="loop img-box">
                <div class="img-list">
                    {loop $photos $photo}
                    <img src="{$photo}" class="width100" />
                    {/loop}
                </div>
            </div>
            <p class="line">
                房源编号 <?=substr($item['number'], -8)?>
                <span>1/{$len}</span>
            </p>
        </div>
		<!--住宅-->
		{if $item['type'] == 1}
        <div class="custom-info-list">
            <a>租金<em>{$item['zujin']}元/月</em></a>
            <a>户型<em>{$item['shi']}室{$item['ting']}厅{$item['wei']}卫</em></a>
            <a>面积<em>{$item['pingfang']}m<sup>2</sup></em></a>
        </div>
		<ul class="list">
            <li><span style="width:49%"><label>装修:</label>{$item['zhuangxiu']}</span>
                <span style="width:49%"><label>出租形式:</label>{$item['chuzu_xingshi']}</span>
            </li>
			<li><label>楼层:</label><?=$item['louceng']?>/<?=$item['zongceng']?>F</li>
			<li><label>配套:</label>{$detail['peitao']}</li>
            <li><label>物业费:</label>{$detail['wyf']}元/平米/月</li>
            <li><label>地址:</label>【<?=$this->getRegion($item['area'])?>】{$item['dizhi']}</li>
			<li><label>房东描述:</label><em class="green-text">{$detail['miaoshu']}</em></li>
        </ul>
		{/if}
		<!--别墅-->
		{if $item['type'] == 2}
        <div class="custom-info-list">
            <a>租金<em>{$item['zujin']}元/月</em></a>
            <a>面积<em>{$item['pingfang']}m<sup>2</sup></em></a>
			<a>楼层<em><?=$item['louceng']?>/<?=$item['zongceng']?>F</em></a>
        </div>
		<ul class="list">
            <li><span style="width:49%"><label>卧室个数:</label>{$item['woshi']}个</span>
                <span style="width:49%"><label>建筑形式:</label>{$item['xingshi']}</span>
            </li>
			<li><label>出租形式:</label>{$item['chuzu_xingshi']}</li>
			<li><label>装修:</label>{$item['zhuangxiu']}</li>
			<li><label>物业费:</label>{$detail['wyf']}元/平米/月</li>
            <li><label>其他配套:</label>{$detail['peitao']}</li>
            <li><label>地址:</label>【<?=$this->getRegion($item['area'])?>】{$item['dizhi']}</li>
			<li><label>卖家描述:</label><em class="green-text">{$detail['miaoshu']}</em></li>
        </ul>
		{/if}
		<!--商铺、写字楼、商住两用-->
		{if $item['type'] == 4 ||  $item['type'] == 3 ||  $item['type'] == 5}
        <div class="custom-info-list">
            <a>租金<em>{$item['zujin']}万</em></a>
            <a>面积<em>{$item['pingfang']}m<sup>2</sup></em></a>
			<a>楼层<em>{$item['louceng']}/{$item['zongceng']}F</em></a>
        </div>
		<ul class="list">
            <li><label>物业费:</label>{$detail['wyf']}元/平米/月
            </li>
			{if $item['type'] == 3 ||  $item['type'] == 5}
			<li><label>装修:</label>{$item['zhuangxiu']}</li>
			{/if}
			{if $item['type'] == 4}
			<li><label>转让费:</label>{$item['zhuanrang']}万</li>
			{/if}
			{if $item['type'] == 5}
			<li><label>户型:</label>{$item['shi']}室{$item['ting']}厅{$item['wei']}卫</li>
			<li><label>出租形式:</label>{$item['chuzu_xingshi']}</li>
			{/if}
            <li><label>其他配套:</label>{$detail['peitao']}</li>
            <li><label>地址:</label>【<?=$this->getRegion($item['area'])?>】{$item['dizhi']}</li>
			<li><label>卖家描述:</label><em class="green-text">{$detail['miaoshu']}</em></li>
        </ul>
		{/if}
        <ul class="list branch" style="{if empty($attention)}display:none;{/if}">
			{if !empty($branch)}
            <li class="gray-bg"><label>看房联系人:</label>{$branch['linkman']}</li>
            <li class="gray-bg"><label>网点名称:</label>{$branch['name']}</li>
			<li class="gray-bg"><label>网点编号:</label>{$branch['number']}</li>
            <li class="gray-bg"><?=$this->getRegion($branch['area'])?> {$branch['address']}
			<a href="http://api.map.baidu.com/marker?location={$branch['lat']},{$branch['lng']}&output=html" class="daohang"></a>
                <img src="{$branch['pic']}" class="width100" />
            </li>
			{/if}
        </ul>
        <div class="follow-box">
            <a onclick="guanzhu({$item['id']})" class="follow-icon">关注</a>
			{if empty($attention)}
            <a class="share-icon" id="queue" onclick="queue({$_GPC['id']})" >立即预约</a>
			{else}
			<a class="share-icon" >等待预约中</a>
			{/if}
        </div>
    </div>
</body>
</html>
<script>
function guanzhu(id)
{
	var data={id:id,type:2,url:'<?=$_SERVER['REQUEST_URI']?>'};
	$.ajax({
		data:data,
		type: "post",
		url: "{php echo $this->createMobileUrl('guanzhu')}",
		dataType: "json",
		success: function(res){
			if(res.ret == 1){
				var dialog = jDialog.dialog({
					title : '操作成功',
					content : res.msg,
					buttons : [
						{
							type : 'highlight',
							text : '知道了',
							handler:function(button,dialog)
							{
								dialog.close();
							}
						}
					]
				});	
			}
			else{
				var dialog = jDialog.dialog({
					title : '错误提醒！',
					content : res.msg
				});
			}
		}
	});
}
function queue(id)
{
	var dialog = jDialog.confirm('确定要预约看房吗？',{
		handler : function(button,dialog) {
			dialog.close();
			var data={id:id};
			$.ajax({
				data:data,
				type: "post",
				url: "{php echo $this->createMobileUrl('queue')}",
				dataType: "json",
				success: function(res){
					if(res.ret == 1){
					var dialog = jDialog.dialog({
						title : '预约成功！',
						content : res.msg,
						buttons : [
							{
								type : 'highlight',
								text : '知道了',
								handler:function(button,dialog)
								{
									$('.branch').css('display','');
									$('#queue').html('等待预约中');
									$('#queue').removeAttr('onclick');
									dialog.close();
								}
							}
							]
							});	
						}
						else{
							var dialog = jDialog.dialog({
								title : '错误提醒！',
								content : res.msg
							});
						}
					}
				});
		}
	},{
		handler : function(button,dialog) {
			dialog.close();
		}
	});
}
</script>