
.custom-page {
  border-top: 0.05rem solid #89827D;
}
.custom-page p {
  line-height: 2rem;
  padding: .4rem 0;
  padding-left: .5rem;
}
.custom-page ul li {
  width: 15rem;
  margin: .6rem auto;
}
.custom-page ul li input {
  width: 14.5rem;
  height: 1.5rem;
  padding: .2rem;
  font-size: .7rem;
  border: .05rem solid #242322;
  line-height: 1.5rem;
}
.custom-page ul li span {
  width: 4.45rem;
  display: inline-block;
  height: 1.9rem;
  background-color: #B8B7B5;
  font-size: .7rem;
  vertical-align: middle;
  border: .05rem solid #242322;
  line-height: 1.9rem;
  text-align: center;
  margin-left: -0.05rem;
  float: right;
}
.page-info-text {
  background-color: rgba(137, 130, 125, 0.8);
}
.page-info-text .arrow-left {
  background-image: url("/source/modules/lib/img/arrow-w.png");
}
.page-info-text p {
  color: #fff;
}
.item-list dl dt {
  width: 5rem;
  height: 4rem;
}
.item-list dl dd {
  margin-right: .5rem;
  width: 9.5rem;
  margin-left: -1rem;
}
.item-list dl dd span {
  vertical-align: sub;
  margin-left: .5rem;
  background-size: .8rem;
}
.item-list dl dd span.start {
  background-image: url("/source/modules/baoxiang/asset/img/statr.png");
  background-repeat: repeat-x;
  display: inline-block;
  height: .8rem;
}
.item-list dl dd span.one {
  width: 0.8rem;
}
.item-list dl dd span.two {
  width: 1.6rem;
}
.item-list dl dd span.three {
  width: 2.4rem;
}
.item-list dl dd span.four {
  width: 3.2rem;
}
.item-list dl dd span.five {
  width: 4rem;
}
.item-list dl dd span.six {
  width: 4.8rem;
}
.upload-img {
  color: #949495;
  font-size: .5rem;
}
.upload-img a {
  padding: .3rem .5rem;
  display: inline-block;
  margin: 0 .5rem;
  color: #fff;
  background-color: #EA8838;
  font-size: .7rem;
  border-radius: 0.3rem;
}
.info-box,
.server-box,
.info-address {
  font-size: .7rem;
  position: relative;
  padding: .8rem;
  border-bottom: .05rem dotted #373533;
  line-height:1.1rem;
  color:#5F5E5D;
}
.info-box h4,
.server-box h4,
.info-address h4 {
  color: #332D2B;
  font-size: .6rem;
  margin-bottom: .5rem;
}
.info-box .dao-hang,
.server-box .dao-hang,
.info-address .dao-hang {
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
  background-image: url("/source/modules/lib/img/daohang.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: .5rem;
  right: .5rem;
}
.work-img {
  font-size: .6rem;
  position: relative;
  padding: .8rem 0 0 0;
}
.work-img h4 {
  color: #332D2B;
  font-size: .6rem;
  text-indent: .8rem;
  margin-bottom: .5rem;
}
.about-info {
  background-color: #98847A;
  padding: 2rem 0;
  margin-bottom: 3rem;
}
.about-info img {
  width: 6rem;
  margin: 0 auto;
  display: block;
}
.send-list {
  overflow: hidden;
  margin: 0 auto;
  width: 15.5rem;
  border-top: .05rem solid #89827D;
}
.send-list li {
  font-size: .7rem;
  padding: .2rem 0;
  padding-left: .2rem;
  border-bottom: 1px solid #89827D;
}
.send-list li.jiu-dian a {
  width: 3rem;
}
.send-list li.noBorder {
  border: 0 none !important;
}
.send-list li a {
  color: #332D2B;
  border: 0.05rem solid #332D2B;
  margin: .2rem .2rem;
  width: 4.2rem;
  height: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  text-align: center;
}
.send-list li a.on {
  background-color: #EA562D;
  border-color: #EA562D;
  color: #fff;
}
.send-list li select {
  padding: .5rem .3rem;
  border: 0px solid #5B5451;
  margin-left: -0.2rem;
}
.send-list li.two {
  width: 7.5rem;
  float: left;
}
.send-list li.two select {
  padding: .5rem .3rem;
  border: 0px solid #5B5451;
  margin-left: -0.2rem;
}
.send-list li.two span {
  border: 1px solid #5B5451;
  width: 4.68rem;
  color: #949495;
}
.send-list li.two span input {
  border: 0 none;
  margin-right: 0;
}
.send-list li.two span input.two {
  width: .8rem;
}
.send-list li label {
  display: inline-block;
  text-align: right;
  padding-right: .5rem;
}
.send-list li input {
  height: 1.5rem;
  padding: .2rem .3rem;
  border: 0 none;
  border: 1px solid #5B5451;
}
.send-list li input.one {
  width: 3rem;
}
.send-list li span {
  display: inline-block;
  width: 13rem;
}
.send-list li span.border {
  border: 1px solid #5B5451;
  width: 11.6rem;
  color: #949495;
}
.send-list li span select {
  padding: .5rem .3rem;
  border: 1px solid #5B5451;
}
.send-list li span .two {
  border: 1px solid #5B5451;
  width: 5.35rem;
  margin-right: 1rem;
}
.tou-shu {
  background-color: #fff;
  border-top: .05rem solid #484340;
}
.tou-shu ul li {
  width: 15rem;
  margin: .6rem auto;
  padding: .2rem 0;
}
.tou-shu ul li label {
  font-size: .7rem;
  color: #332D2B;
  vertical-align: middle;
  margin-right: .5rem;
}
.tou-shu ul li label.down-icon {
  background-image: url("/source/modules/baoxiang/asset/img/donw-arrow.jpg");
  background-repeat: no-repeat;
  background-size: .5rem;
  background-position: right center;
  padding-right: .7rem;
}
.tou-shu ul li input[type="text"] {
  width: 14.5rem;
  height: 1.5rem;
  padding: .2rem;
  font-size: .6rem;
  border: .05rem solid #242322;
  line-height: 1.5rem;
}
.tou-shu ul li span.btn {
  width: 4.45rem;
  display: inline-block;
  height: 1.9rem;
  background-color: #B8B7B5;
  font-size: .7rem;
  vertical-align: middle;
  border: .05rem solid #242322;
  line-height: 1.9rem;
  text-align: center;
  margin-left: -0.05rem;
  float: right;
}
.tou-shu ul li textarea {
  width: 13.5rem;
  display: block;
  padding: .5rem;
  margin: 0 auto;
  margin-top: 1rem;
  height: 4rem;
  border: .05rem solid #484340;
  font-size: .6rem;
  background-color: #fff;
}
.tou-shu ul li.line input[type="text"] {
  width: 9rem;
  font-size: .7rem;
  padding: .2rem;
}
.tou-shu ul li.line span {
  display: inline-block;
  width: 4.8rem;
  text-align: center;
  font-size: .7rem;
  vertical-align: middle;
  margin-top: .5rem;
}
.tou-shu ul li.line span input {
  width: 1rem;
  height: 1rem;
  border: .05rem solid #645C5A;
  background-color: #EAE9E9;
  vertical-align: middle;
  margin-right: .5rem;
}
.custom-page {
  border-top: 0 none !important;
}
.custom-page p {
  line-height: 2rem;
  font-size: .7rem;
  padding-left: .5rem;
}
.custom-page ul li {
  width: 15rem;
  margin: .6rem auto;
  font-size: .5rem;
}
.custom-page ul li label {
  font-size: .5rem;
}
.custom-page ul li input {
  width: 14.5rem;
  height: 1.2rem;
  padding: .2rem;

  border: .05rem solid #242322;
  line-height: 1.2rem;
}
.custom-page ul li span {
  width: 4.45rem;
  display: inline-block;
  height: 1.6rem;
  background-color: #B8B7B5;

  vertical-align: middle;
  border: .05rem solid #242322;
  line-height: 1.6rem;
  text-align: center;
  margin-left: -0.05rem;
  float: right;
}
.custom-page ul li textarea {
  width: 14.5rem;
  padding: .2rem;
  height: 3rem;
  border: .05rem solid #242322;
}
.upload-img {
  line-height: 1.5rem !important;
  color: #949495;
  font-size: .5rem;
}
.upload-img a {
  padding: 0 .5rem;
  display: inline-block;
  margin: 0 .5rem;
  color: #fff;
  background-color: #EA8838;
  font-size: .7rem;
  border-radius: 0.3rem;
}
.red-text {
  color: #EA562D;
}
.tips-text {
  font-size: .5rem;
  padding: .2rem 0;
  padding-left: .5rem;
}
